
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    @*<script src="~/Scripts/Socket.io/socket.io.js"></script>*@
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="~/Scripts/Highcharts/highcharts.js"></script>
    <script src="~/Scripts/Highcharts/exporting.js"></script>
    <script src="~/Scripts/Socket.io/theme.js"></script>
    <script src="~/App/app.js"></script>
</head>
<body>
    <button id="drawChart" type="button">Plot Chart</button>

    <div id="container"> 
    </div>
</body>
</html>
